@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
/* hsl(26, 100%, 55%); */
/* Pale orange hsl(25, 100%, 94%) */
/* - Very vark blue: hsl(220, 13%, 13%)
- Dark grayish blue: hsl(219, 9%, 45%)
- Grayish blue: hsl(220, 14%, 75%)
- Light grayish blue: hsl(223, 64%, 98%)
- White: hsl(0, 0%, 100%)
- Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%) */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
#root{
	min-height: 100vh;
}
body{
	font-family: 'Kumbh Sans', sans-serif;
	font-weight: normal;
	box-sizing: border-box;
	min-height: 100vh;
}
.menu_item:hover{
	border-bottom: orange solid  4px;
	transition:  border 0.3s ease 0s;  
}
.avatar:hover{
	border-radius: 50%;
	border: orange solid  3px ;
}
.avatar{
	object-fit: cover;
	border-radius: 50%;
}

#cart path {
	fill:inherit;
	}
	
#cart{
	fill: #69707D;
}
#cart:hover { fill: black; }
.orangeHoverSvg path{
	fill:inherit;
}
.orangeHoverSvg:hover { fill: orange;}


.gallery_item{
	border-radius: 20%;
}
/* .thumbnail img{
	flex: 0 0 100%;
	width: 20%;
	/* max-width: 100%; */
	/* object-fit: cover; */
/* }  */


.cart path {
	fill:inherit;
	}
	
.cart{
	fill: white;
}
.nextprev path {
	
	stroke: inherit;	
	}
.nextprev:hover { stroke: orange;}

.aboutA{
	color: blue;
}

input,textarea, select, option{
	background-color: rgb(229 231 235);
	color: black;
	border-radius: 15px;
	resize:none;
	padding: 7px 25px;
	width: 100%;
	box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
}

input::-webkit-input-placeholder{
	color: rgba(0, 0, 0, 0.625);
}
textarea::-webkit-input-placeholder{
	color: rgba(0, 0, 0, 0.625);

}

@media (max-width:800px) {
	.app{
		width: 100%;
		margin: 0;
		padding: 0px;
	}
	.navigator{
		width: 100%;
		padding: 10px 20px;
	}
	.titles{
		display: none;
	}
}