.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 70px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup {
  -webkit-box-shadow: 0px 0px 30px 12px rgba(13, 18, 48, 0.259);
          box-shadow: 0px 0px 30px 12px rgba(13, 18, 48, 0.259);
  max-width: 500px;
  min-width: 330px;
  height: auto;
  padding: 15px 20px 10px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  border-radius: 10px;
}

.title {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: -1.3px;
  font-size: 1.1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  font-weight: 400;
}

.title img {
  max-width: 30px;
  margin-bottom: 1rem;
}

.btn {
  padding: 10px;
  background-color: #128fdc;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  outline: 0;
  border-radius: 5px;
  border: 0;
  margin: 10px 0px;
}
